<div id="<%= dom_id comment %>" class="comment">
  <h5><%= user_full_name(comment.user) %></h5>
  <%= comment.content %>
  <p class=timestamp><%= comment.created_at.strftime("%I:%M %p") %></p>
</div>
