<% content_for :title, "Editing comment" %>

<h1>Editing comment</h1>

<%= render "form", comment: @comment %>

<br>

<div>
  <%= link_to "Show this comment", project_comment_path(@comment.project, @comment) %> |
  <%= link_to "Back to comments", project_comments_path(@comment.project) %>
</div>
